{% extends 'base.html' %}

{% load static %}

{% block key %}"{{post.title}}, money management , Beyond Exponential Financial, BeyondFiancialEd"{% endblock %}

{% block descrp %}"{{post.title}}"{% endblock %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}

    
<div class="container-lg bg-light">
    <div class="text-center">
      <img src={{post.image.url}} alt="image about blog" class="img-fluid">
    </div>
    

    <hr>

    <h1 class="fw-bold p-3">{{post.title}}</h1>
    <small class="p-3"> By: {{post.first_name}} {{post.last_name}}</small>
    <small class="p-3"> Date Published: {{post.date}}</small>
    
    <hr>

    
    

    <p class="h3 p-5 text-center">{{post.body|safe }}</p>

    <br/><br/>
    <a href="{% url 'blogs' %}" class="btn btn-secondary m-3"> 返回 </a>

</div>

{% endblock %}


