{% extends 'base.html' %}

{% load static %}

{% block key %}"金融教育与博客, money management , Beyond Exponential Financial, BeyondFiancialEd"{% endblock %}

{% block descrp %}"金融教育与博客"{% endblock %}

{% block title %}金融教育与博客{% endblock %}

{% block content %}



<div class="container-lg bg-light">
  <h1 class="p-3 text-center">博文</h1>

    {% for post in object_list %}

    <div class="row my-3">
      <div class="col-md-4 align-self-start ">
        <img
          class="img-fluid rounded"
          src={{post.image.url}}
          alt="image"
        />
      </div>
      <div class="col-md-8">
        <p class="h4 fw-bold">
          {{post.title}} |
          {{post.first_name}} {{post.last_name}} | {{post.date.date}}
        </p>
        <div class="my-3"> {{ post.body|safe | truncatechars_html:400 }}</div> 

        <div><a href="{% url 'article' post.pk %} " class="btn btn-secondary m-2 p-2">看一看</a></div>
        
      </div>
      
    </div>
    <hr>

    

    {% endfor %}



    
</div>
{% endblock %}