
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <title>登录</title>
</head>
<body>
    <div class="login">
        <form class="form" action="{% url 'signin' %}" method="post">
        {% csrf_token %}

            <h2>登录</h2>
            {% if login_failure %}
            <h2><em>无效证件</em></h2>
            {% endif %}
            <div class="form-element">
                <label for="username"> 用户名 </label>
                <input type="text" id="username" name ="username" placeholder="用户名">
            </div>
            <div class="form-element">
                <label for="password">密码</label>
                <input type="password" id="password" name ="password" placeholder="密码">
            </div>
            <div class="form-element">
                <button type="submit">登入</button>
            </div>
            <div class="form-element">
                <p>没有帐户? <a href="{% url 'signup' %}"> 注册新账号 </a></p>
                <p><a href="{% url 'index' %}" class="p2"> 返回首页</a></p>
            </div>
        </form>
    </div>
</body>
</html>


