
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="login">
        <form class="form" action="{% url 'signup' %}" method="post">
        {% csrf_token %}
            <h2>Sign Up</h2>
            <div class="form-element">
                {% if username_taken %}
                <label for="username">Username <em>Username In Use</em></label>
                {% else %}
                <label for="username">Username</label>
                {% endif %}
                <input type="text" id="username" name ="username" placeholder="Username">
            </div>
            <div class="form-element">
                {% if email_failure %}
                <label for="email"> Email <em>Your Email Is Not Verifed!!!</em></label>
                {% elif email_taken %}
                <label for="email"> Email <em>Email Already In Use</em></label>
                {% else %}
                <label for="email"> Email</label>
                {% endif %}
                <input type="text" id="email" name ="email" placeholder="enter email here..">
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" id="password" name ="password" placeholder="password">
            </div>
            <div class="form-element">
                {% if password_failure %}
                <label for="password"> Password(Again) <em>Passwords do not match!!</em></label>
                {% else %}
                <label for="password"> Password</label>
                {% endif %}
                <input type="password" id="password" name ="password(again)" placeholder="password(again)">
            </div>
            <div class="form-element">
                <button type="submit">Sign Up</button>
            </div>
            <p><a href="{% url 'index' %}"> back to home</a></p>
        </form>
    </div>
</body>
</html>