
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>注册新账</title>
</head>
<body>
    <div class="login">
        <form class="form" action="{% url 'signup' %}" method="post">
        {% csrf_token %}
            <h2>报名</h2>
            <div class="form-element">
                {% if username_taken %}
                <label for="username">用户名 <em>用户名正在使用</em></label>
                {% else %}
                <label for="username">用户名</label>
                {% endif %}
                <input type="text" id="username" name ="username" placeholder="用户名">
            </div>
            <div class="form-element">
                {% if email_failure %}
                <label for="email"> 电子邮件 <em>您的电子邮件未经过验证!!!</em></label>
                {% elif email_taken %}
                <label for="email"> 电子邮件 <em>电子邮件已在使用中</em></label>
                {% else %}
                <label for="email"> 电子邮件</label>
                {% endif %}
                <input type="text" id="email" name ="email" placeholder="在这里输入电子邮件 ..">
            </div>
            <div class="form-element">
                <label for="password">密码</label>
                <input type="password" id="password" name ="password" placeholder="密码">
            </div>
            <div class="form-element">
                {% if password_failure %}
                <label for="password"> 密码（再次） <em>密码不匹配!!</em></label>
                {% else %}
                <label for="password"> 密码</label>
                {% endif %}
                <input type="password" id="password" name ="password(again)" placeholder="密码 (再次)">
            </div>
            <div class="form-element">
                <button type="submit">报名</button>
            </div>
            <p><a href="{% url 'index' %}">返回首页</a></p>
        </form>
    </div>
</body>
</html>