{% extends 'base.html' %}

{% load static %}

{% block key %}"金融教育与视频, money management , Beyond Exponential Financial, BeyondFiancialEd"{% endblock %}

{% block descrp %}"English Financial Video"{% endblock %}

{% block title %}English Video{% endblock %}

{% block content %}
<section>
  <div class="container-lg bg-light">
    <div class="row justify-content-center">
      <div class="m-3">
        <p class="h1 text-center fw-bold">
          Study Area
        </p>
      </div>
      <hr>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Introduction to Financial Planning</h4>
        <div class="accordion" id="lifevideo">
          {% for vid in General %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#lifevideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Long Term Care</h4>
        <div class="accordion" id="long_term_care_video">
          {% for vid in long_term_care %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#long_term_care_video">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Title: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Estate Planning</h4>
        <div class="accordion" id="estatevideo">
            {% for vid in estate_planning %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                  {{vid.title}}
                </button>
              </h2>
              <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#estatevideo">
                <div class="accordion-body">
                  <p> Author: {{vid.author}} </p>
                  <p> Password: {{vid.password}} </p>
                  <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>

    </div>
    <div class="row justify-content-center">

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Tax Plans</h4>
        <div class="accordion" id="taxvideo">
          {% for vid in tax %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#taxvideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Retirement Plans</h4>
        <div class="accordion" id="retirementvideo">
          {% for vid in retirement %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#retirementvideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Life Insurance</h4>
        <div class="accordion" id="lifevideo">
          {% for vid in life_insurance %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#lifevideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>



      
      
      
    
    <div class="row justify-content-center">

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">College Financial Aid Application</h4>
        <div class="accordion" id="savingsvideo">
          {% for vid in savings %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#savingsvideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Medical Insurance</h4>
        <div class="accordion" id="medicarevideo">
          {% for vid in medicare %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#medicarevideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Asset Protection</h4>
        <div class="accordion" id="investmentvideo">
          {% for vid in asset_protection %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#investmentvideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>

    <div class="row justify-content-center">

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Real Estate</h4>
        <div class="accordion" id="savingsvideo">
          {% for vid in real_estate %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#savingsvideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Company Structure</h4>
        <div class="accordion" id="investmentvideo">
          {% for vid in company_structure %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#investmentvideo">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Other</h4>
        <div class="accordion" id="othervideos">
          {% for vid in other %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#othervideos">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>


    </div>

      
    <div class="row justify-content-center">
      <div class="m-3">
        <p class="h1 text-center fw-bold">
          Exam Preparation Area
        </p>
      </div>

      <hr>

      <div class="col-md-3 col-12 text-center m-5">
        <h4 class="border-2 border-bottom">Licensing Examination</h4>
        <div class="accordion" id="othervideos">
          {% for vid in exam %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Arr{{vid.link}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                {{vid.title}}
              </button>
            </h2>
            <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#othervideos">
              <div class="accordion-body">
                <p> Author: {{vid.author}} </p>
                <p> Password: {{vid.password}} </p>
                <a href="{{vid.link}}" class="btn btn-primary"> Watch </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock %}
