{% extends 'base.html' %}

{% load static %}


{% block key %}"资产保护, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"{% endblock %}

{% block descrp %} 资产保护, 金融教育与服务 {% endblock %}

{%block title%} 资产保护 {%endblock%}


{% block content %}
<section>
<div class="container-lg bg-light text-center">
  <div class="row m-5">
    <div class="col-md-6 align-self-center">
      <img
        class="img-fluid"
        src="{% static 'images/asset_protection.jpg' %}"
        alt="college financial aid"
      />
    </div>


    <div class="col-md-6 text-start align-self-center">
      <h1 class="my-3 fw-bold">资产保护</h1>
      <p class="h5 my-2" style="text-indent: 40px;">
        在美国是一个滥用诉讼的国度，为什么呢？因为为了保证穷人也有申述的权利，
        不会因为经济原因雇不起律师，因此这些伤害诉讼律师一般都是免费，只有打赢官司，
        拿到赔款以后才 收钱，这样保证穷人也不会因为没有钱打不起官司。
      </p>
      <p class="h5 my-2" style="text-indent:40px;">
        律师接到案子以后会怎么做？他们会首先调查被告人的资产，
        倘若资产都是未被保护的资产，比如房产，现金，股票账号，
        律师们非常乐意接手这个案子。倘若发现被告人的钱在保险，
        年金或者退休金里，即使赢了官司，也不见得能拿走这些钱，
        律师就不愿意接受这个案子了。我们该如何的防患于未然，
        将潜在碰瓷者消灭在萌芽状态？我们该如何进行有效的资产保护呢？
      </p>
    </div>
  </div>
</div>


<div class="text-center container-lg bg-light">

  <div class="row justify-content-center p-3">
    <div class="col-md-6 text-md-start text-sm-center">
      <h1 class="my-3 fw-bold">资产保护课程大纲：</h1>
      <ul style="list-style-type: square;">
        <li class="p-2 h5">谁是资产的掠夺者？</li>
        <li class="p-2 h5">不同退休账号的资产保护有何不同？</li>
        <li class="p-2 h5">如何利用公司架构做资产保护？</li>
        <li class="p-2 h5">如何利用保险年金做资产保护？</li>
        <li class="p-2 h5">如何利用不可撤销信托做资产保护</li>
        <li class="p-2 h5">如何进行婚姻的资产保护？</li>
      </ul>
      <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="text-center btn btn-secondary my-4">安排会议</a>
    </div>
  </div>
{% endblock %}
        
