{% extends 'base.html' %}

{% load static %}


{% block key %}"公司架构, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"{% endblock %}

{% block descrp %}"公司架构, 金融教育与服务"{% endblock %}

{% block title %}公司架构{% endblock %}


{% block content %}
<section>
  <div class="container-lg bg-light text-center">
    <div class="row m-5">
      <div class="col-md-6 align-self-center">
        <img
          class="img-fluid"
          src="{% static 'images/corporation.JPG' %}"
          alt="college financial aid"
        />
      </div>



      <div class="col-md-6 text-start align-self-center">
        <h1 class="my-3 fw-bold">家庭理财之公司架构</h1>
        <p class="h4" style="text-indent: 40px;">
          “家庭理财”, “公司架构”, 看似毫不相关, 实则交相辉映. 
          在充满着企业家精神的美国, 很多人有自己的公司, 
          有人sole proprietor开启斜杠人生, 有人成立LLC管理房产, 
          有人架构S corp做咨询工作, 更有人成立C corp打造自己的商业王国。
          什么时候该成立LLC, 什么时候又该架构成Inc? 不同的公司架构是如何界定权责的? 
          对税务的影响是什么？对孩子大学助学金申请的影响又是什么? 如何做好公司架构, 
          让我们做到家庭理财的全面优化?
        </p>
      </div>
    </div>
  </div>


  <div class="text-center container-lg bg-light">

    <div class="row justify-content-center p-3">
      <div class="col-md-6 text-md-start text-sm-center">
        <h1 class="my-3 fw-bold">公司架构的课程大纲：</h1>
        <ul style="list-style-type: square;">
          <li class="h5">Legal entity vs tax entity</li>
          <li class="h5">我该成立LLC还是INC?</li>
          <li class="h5">房地产何去何从: LLC vs S-corp vs C Corp?</li>
          <li class="h5">不同公司结构的税务视角有何不同？</li>
          <li class="h5">S-corp 省税手册</li>
          <li class="h5">如何利用不同的公司架构做省税计划</li>
          <li class="h5">不同公司架构的退休计划设计</li>
        </ul>
        <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="text-center btn btn-secondary my-4">安排会议</a>
      </div>
    </div>
{% endblock %}
