{% extends 'base.html' %}

{% load static %}

{% block key %}"遗产规划, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"{% endblock %}

{% block descrp %}"遗产规划, 金融教育与服务"{% endblock %}

{% block title %}遗产规划{% endblock %}

{% block content %}

<section>
<div class="container-lg bg-light text-center">
  <div class="row m-5">
    <div class="col-md-6 align-self-center">
      <img
        class="img-fluid"
        src="{% static 'images/estate_planning.webp' %}"
        alt="college financial aid"
      />
    </div>


    <div class="col-md-6 text-start align-self-center">
      <h1 class="my-3 fw-bold">遗产规划</h1>
      <p class="h4" style="text-indent: 40px;">
        每一个人来到世上，都是向死而生的过程，死亡是生命的一部分，就像一首乐曲的完结符一样，
        它只是标志着时间上的终结，但我们身后事却不一定因此完结。因此遗产规划是生与死的交汇，
        是家庭理财的重要组成部分， 是每一个成年人都需要的，它不仅仅争对比尔盖茨和巴菲特。好的遗产规划，
        不仅可以确保有合适的人员到位，以代表我们做出医疗，财务，育儿和业务决策 
        （无论是在我们丧失民事行为能力还是在离开之后），更可以保护资产，规划税务，
        妥善的在多个受益人中进行公平的财产分配，避免后人不必要的纷争。
        
      </p>

      <p class="h4" style="text-indent: 40px;">
        好的遗产规划让我们即便去世，
        也能运筹帷幄之中，决胜千里之外，在坟墓里也能掌控生前打下的江山。如果不规划或者规划不当，
        一生辛劳，财富再多，可能到头来还是为他人作嫁衣裳。
      </p>
    </div>
  </div>
</div>


<div class="text-center container-lg bg-light">

  <div class="row justify-content-center p-3">
    <div class="col-md-6 text-md-start text-sm-center">
      <h1 class="my-3 fw-bold">您绝对需要遗产规划，如果: </h1>
      <ul style="list-style-type: square;">
        <li class="p-2 h5">您有未成年子女吗？</li>
        <li class="p-2 h5">您是屋主吗？</li>
        <li class="p-2 h5">您的总资产是否超过 150,000 美元（加利福尼亚州)、
          75,000 美元 (佛罗里达州和德克萨斯州) 、22,000 美元（密歇根州）？</li>
        <li class="p-2 h5">您是否有多段婚姻？</li>
        <li class="p-2 h5">您家中是否有人是其他国家的公民？</li>
        <li class="p-2 h5">您会考虑将您的资产以不同方式分配给您的孩子吗？</li>
        <li class="p-2 h5">您的遗产是否会超出州和联邦的免税范围？ </li>
      </ul>
      <p class="p-2 h3 fw-bold">遗产规划不仅适用于富人。如果您对以上任何问题回答是“Yes”, 它也适合您。</p>
    </div>
  </div>

  <div class="row justify-content-center p-3">
    <div class="col-md-6 text-md-start text-sm-center">
      <h1 class="my-3 fw-bold">遗产规划课程大纲样本：</h1>
      <ul style="list-style-type: square;">
        <li class="h5">好的遗产规划的要素</li>
        <li class="h5">可撤销信托和不可撤销信托的区别</li>
        <li class="h5">Spousal Lifetime Access Trust</li>
        <li class="h5">Grantor Retained Annuity Trust</li>
        <li class="h5">Irrevocable Life Insurance Trust</li>
        <li class="h5">Qualified Domestic Trust</li>
        <li class="h5">Dynasty Trust</li>
        <li class="h5">Medicaid Asset Protection Trust</li>
        <li class="h5">Charitable Remainder Trust</li>
        <li class="h5">如何避免遗产税</li>

      </ul>
      <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="text-center btn btn-secondary my-4">安排会议</a>
    </div>
  </div>

{% endblock %}
