<!DOCTYPE html>
<html lang="zh-CN">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Insurance</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-xxl">
        <a href="{% url 'index' %}" class="navbar-brand">
          <img
            class="img-fluid"
            src="{% static 'images/logo.webp' %}"
            alt="beyond Expoenential Financial Logo"
          />
        </a>
        <!-- toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div
          class="collapse navbar-collapse justify-content-end align-center"
          id="main-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a href="{% url 'index' %}" class="nav-link h5"> 关于我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="mailto: befinancialed@gmail.com" class="nav-link h5">
                联系
              </a>
            </li>
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                金融教育与服务
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'overview' %}">概貌</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'tax' %}">
                    税务规划</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'retirement' %}"
                    >退休计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'estate_planning' %}"
                    >遗产规划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'life_insurance' %}"
                    >人寿保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'long_term_care' %}"
                    >长期护理</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'medicare' %}"
                    >医疗保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'investment' %}"
                    >投资风险控制</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'savings' %}"
                    >大学助学金申请</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://www.befinancialeducation.com/book-online"
                    >安排会议</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'join_us' %}" class="nav-link h5"> 加入我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'blogs' %}" class="nav-link h5"> 博客 </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-3">
              <a href="{% url 'video' %}" class="nav-link h5"> 视频 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signout' %}" class="nav-link h5"> 登出 </a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a href="{% url 'signup' %}" class="nav-link h5"> 报名 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signin' %}" class="nav-link h5"> 登录 </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container-lg bg-light text-center">
        <div class="row m-5">
          <div class="col-md-4 align-self-center">
            <img
              class="img-fluid"
              src="{% static 'images/life_insurance.webp' %}"
              alt="college financial aid"
            />
          </div>

          <div class="col-md-2"></div>

          <div class="col-md-6 text-start align-self-center">
            <h1 class="my-3 fw-bold">为什么要买人寿保险? </h1>
            <p class="h5 p-2">
              “您购买人寿保险不是因为您将要死去，而是因为您所爱的人将要活着”。
              获得保险是我们对家人和亲人的责任。
              无论我们赚了多少钱或存了多少钱，
              我们的财务状况都可能因瞬间发生的意外事件而受到损害。
            </p>
          </div>
        </div>
      </div>

      <div class="text-center container-lg bg-light">
        <div class="row justify-content-center p-3">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold">人寿保险的种类</h1>
            <p class="h6">
              因此，重要的是购买一份人寿保险，以防范这种可能性很小但具有破坏性的事件。
              好在人寿保险经历了好几代，
              从定期寿险，到终身寿险，再到万能寿险，再到可变万能寿险，指数万能寿险。
            </p>
          </div>
        </div>
        <div class="row justify-content-center p-3">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold">结论</h1>
            <p class="h6">
              我们听到了很多关于它们的谜团，这引起了很多混乱。
              哪种保险最适合我？我的保单会失效吗？
              保单的生活福利有哪些？如何照顾我的人寿保单？
            </p>
            <a href="https://www.befinancialeducation.com/book-online" class="text-center btn btn-secondary my-4">安排会议</a>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
