<!DOCTYPE html>
<html lang="zh-CN">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Insurance</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-xxl">
        <a href="{% url 'index' %}" class="navbar-brand">
          <img
            class="img-fluid"
            src="{% static 'images/logo.webp' %}"
            alt="beyond Expoenential Financial Logo"
          />
        </a>
        <!-- toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div
          class="collapse navbar-collapse justify-content-end align-center"
          id="main-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a href="{% url 'index' %}" class="nav-link h5"> 关于我们 </a>
            </li>
            
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                金融教育与服务
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'overview' %}">概貌</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'tax' %}">
                    税务规划</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'retirement' %}"
                    >退休计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'asset_protection' %}"
                    >资产保护</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'company_structure' %}"
                    >公司架构</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'estate_planning' %}"
                    >遗产规划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'life_insurance' %}"
                    >人寿保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'long_term_care' %}"
                    >长期护理</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'medicare' %}"
                    >医疗保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'investment' %}"
                    >投资风险控制</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'savings' %}"
                    >大学助学金申请</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://www.befinancialeducation.com/book-online"
                    >安排会议</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'join_us' %}" class="nav-link h5"> 加入我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'meetings' %}" class="nav-link h5"> 网络研讨会 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'blogs' %}" class="nav-link h5"> 博客 </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-3">
              <a href="{% url 'video' %}" class="nav-link h5"> 视频 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="mailto: befinancialed@gmail.com" class="nav-link h5">
                联系
              </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signout' %}" class="nav-link h5"> 登出 </a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a href="{% url 'signup' %}" class="nav-link h5"> 报名 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signin' %}" class="nav-link h5"> 登录 </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container-lg bg-light text-center">
        <div class="row m-5">
          <div class="col-md-5 align-self-center">
            <img
              class="img-fluid"
              src="{% static 'images/life_insurance.webp' %}"
              alt="college financial aid"
            />
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-6 text-start align-self-center">
            <ul style=" list-style-type: square;">
              <li class="h6">人寿保险就是您门上的一把锁，小偷不一定会来，但您还是得锁上。——这就是保险。</li>
              <li class="h6">保险就像灭火器，宁可百日不用，不可一日不备。——防患于未然。这就是保险。</li>
              <li class="h6">(index Universal Life) vs 浮动股指万能险 (variable universal life)</li>
              <li class="h6">如果您问一个家庭主妇，人寿保险的价值，她未必能感受到，但如果是问一个寡妇，她一定知道人寿保险的价值。</li>
              <li class="h6">天不一定会下雨，但雨伞却是我们常备的物品；风险不一定会发生，但寿险也不能不买。</li>
              <li class="h6">您的车子有备胎，您的家庭经济可有备胎？</li>
              <li class="h6">没有人能与佛祖签约，幸好您可以与保险公司签约。</li>
              <li class="h6">等您对保险感兴趣时，保险对您就不感兴趣了。</li>

            </ul>
          </div>
        </div>
      </div>

      <div class="text-center container-lg bg-light">
        <div class="row justify-content-center p-3 my-3">
          <div class="col-md-6 text-md-start text-sm-center">
            <img src="{% static "images/life_insurance_graph.png" %}" alt="life insurance" class="img-fluid">
            <br>
            <br>
            <br>
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold">人寿保险课程大纲：</h1>
            <ul style="list-style-type: square;">
              <li class="h5">Term insurance vs permanent life insurance</li>
              <li class="h5">储蓄分红型寿险(whole life) vs 固定股指万能险 </li>
              <li class="h5">(index Universal Life) vs 浮动股指万能险 (variable universal life)</li>
              <li class="h5">保险的death benefit和living benefit的用途</li>
              <li class="h5">保费的决定因素</li>
              <li class="h5">Term insurance,group term insurance, 和返还本金的term insurance有什么异同? </li>
              <li class="h5">公司提供的Group UL, VUL, term有哪些注意事项? </li>
              <li class="h5">Whole life 是什么？它是如何运作的？</li>
              <li class="h5">Index Universal Life(IUL)又是什么? 它的原理是什么? </li>
              <li class="h5">Whole life 和IUL的回报率如何? 如何解析他们的费用? </li>
              <li class="h5">如何看待buy term and invest the difference?</li>
              <li class="h5">如何看待美国人寿保险里面的重疾条款? </li>
              <li class="h5">如何判断我的保单是否面临失效的风险?</li>
              <li class="h5">我如何从保险里面取钱出来用?</li>
              <li class="h5">我的保单该如何维护? </li>
            </ul>
            <a href="https://www.befinancialeducation.com/book-online" class="text-center btn btn-secondary my-4">安排会议</a>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
