{% extends 'base.html' %}

{% load static %}

{% block key %}"长期护理, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"{% endblock %}

{% block descrp %}"长期护理, 金融教育与服务"{% endblock %}

{% block title %}长期护理{% endblock %}

{% block content %}

<section>
  <div class="container-lg bg-light text-center">
    <div class="row m-5">
      <div class="col-md-6 align-self-center">
        <img
          class="img-fluid"
          src="{% static 'images/long_term_care.jpg' %}"
          alt="person doing taxes"
        />
      </div>


      <div class="col-md-6 text-start align-self-center">
        <h2 class="my-3 fw-bold">什么是长期护理?</h2>

        <p class="h5" style="text-indent: 40px;">
          长期护理是绝大部分人人生必经的一个阶段。据统计,
          65岁以上的人大概有2/3的人或多或少的需要一段时间的长期护理,
          而20%的人需要长达5年以上的长期护理。这其中男性平均需要2.2年,
          女性需要3.7年。由于长期护理成了社会性问题，
          很多州（华盛顿州，加州，纽约等13个州）
          都在相继推出长期护理税。尽管这是一个令人沉重的话题，但直面问题，未雨绸缪,
          做最好的希望，同时为最坏的可能进行安排，方是不败之道。
        </p>

        <p class="h5" style="text-indent: 40px;">
          关于长期护理险, 很多人非常纠结: 不买, 又怕将来要用; 买了, 
          万一用不上又浪费了！进也不是，退也不是！那么有没有这样一种产品,
          进可攻，退可守？需要长期护理的时候，让我们用的安心，不需要的时候，让我们财富增值并能传承？
        </p>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center container-lg bg-light">
    <div class="row justify-content-center">
      <div class="col-md-10 text-md-start text-sm-center">
        <h2 class="my-3 fw-bold">老年医保 (Medicare) 与长期护理 (Long term care)课程大纲</h1>

        <ul style="list-style-type: square;">
          <li class="h5">Medicare的细节与注意事项</li>
          <li class="h5">长期护理与13个州的LTC tax</li>
          <li class="h5">不同公司LTC产品比较</li>
          <li class="h5">Medicaid asset protection trust and LTC</li>
        </ul>

        <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="text-center btn btn-secondary my-4">安排会议</a>
      </div>
    </div> 
</section>
{% endblock %}
