{% extends 'base.html' %}

{% load static %}

{% block key %}"医疗保险, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"{% endblock %}

{% block descrp %}"医疗保险, 金融教育与服务"{% endblock %}

{% block title %}医疗保险{% endblock %}

{% block content %}
<section>
  <div class="container-lg bg-light text-center">
    <div class="row m-5">
      <div class="col-md-6 align-self-center">
        <img
          class="img-fluid"
          src="{% static 'images/medicare.jpg' %}"
          alt="person doing taxes"
        />
      </div>


      <div class="col-md-6 text-start align-self-center">
        <h1 class="my-3 fw-bold">家庭理财规划之医疗保险</h1>
        <p class="h5" style="text-indent: 40px;">
          《流感下的北京中年》很多朋友都阅读过，
          这篇文章讲述了从中产到穷人只需要短短28天，
          只需要经历一场看似不起眼的流感。一场疾病对家庭的打击之大，
          不仅北京如此，全世界都亦然。因此医疗保险是一个家庭的底层构架， 
          决定一个家庭的抗打击能力。在美国，一半左右的个人破产并不是因为商业失败，
          而是因为巨额的医药费。在美国生活，没有医保是一件无法想象的事情。
        </p>
        <p class="h5" style="text-indent: 40px;">
          美国医疗体系如何运作？如何读懂医疗保险的福利说明？
          即便有医保，我们还需要承担哪些费用？如何计算copay, coinsurance, deductible？
        </p>
      </div>
    </div>
  </div>

  <div class="text-center container-lg bg-light">
    <div class="row justify-content-center">
      <div class="col-md-6 text-md-start text-sm-center">
        <h2 class="my-3 fw-bold">医疗保险的课程大纲</h1>

        <ul style="list-style-type: square;">
          <li class="h5">如何阅读我的保险福利说明书？</li>
          <li class="h5">父母来美，该如何购买保险？</li>
          <li class="h5">新移民来美，该如何购买保险？</li>
          <li class="h5">如何购买合适的奥巴马保险？</li>
          <li class="h5">收入太高了，如何解决医疗保险？</li>
        </ul>

        <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="text-center btn btn-secondary my-4">安排会议</a>
      </div>
    </div> 

  </div>
</section>
{% endblock %}
