<!DOCTYPE html>
<html lang="zh-CN">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Retirement</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-xxl">
        <a href="{% url 'index' %}" class="navbar-brand">
          <img
            class="img-fluid"
            src="{% static 'images/logo.webp' %}"
            alt="beyond Expoenential Financial Logo"
          />
        </a>
        <!-- toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div
          class="collapse navbar-collapse justify-content-end align-center"
          id="main-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a href="{% url 'index' %}" class="nav-link h5"> 关于我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="mailto: befinancialed@gmail.com" class="nav-link h5">
                联系
              </a>
            </li>
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                金融教育
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'overview' %}">概貌</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'tax' %}">税</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'savings' %}"
                    >学院/大学储蓄计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'retirement' %}"
                    >退休计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'life_insurance' %}"
                    >人寿保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'investment' %}"
                    >投资</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'estate_planning' %}"
                    >遗产规划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'long_term_care' %}"
                    >长期护理</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'medicare' %}"
                    >医疗保险</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://www.befinancialeducation.com/book-online"
                    >安排会议</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'join_us' %}" class="nav-link h5"> 加入我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'blogs' %}" class="nav-link h5"> 博客 </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-3">
              <a href="{% url 'video' %}" class="nav-link h5"> 视频 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signout' %}" class="nav-link h5"> 登出 </a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a href="{% url 'signup' %}" class="nav-link h5"> 报名 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signin' %}" class="nav-link h5"> 登录 </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container-lg bg-light text-center">
        <div class="row m-5">
          <div class="col-md-5 align-self-center">
            <img
              class="img-fluid"
              src="{% static 'images/retirement.webp' %}"
              alt="college financial aid"
            />
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-6 text-start align-self-center">
            <h1 class="my-3 fw-bold">退休规划</h1>
            <p class="h5 p-2">
              理想的退休计划围绕 4+1 目标展开，这些目标是：
            </p>
            <ul style="list-style: none;" class="text-start">
              <li class="p-1">1)终身收入</li>
              <li class="p-1">2)弹性收入</li>
              <li class="p-1">3)节税退休策略</li>
              <li class="p-1">4)长期护理</li>
              <li class="p-1">5)留下遗产</li>
            </ul>
            <p class="h5 p-2">
              然而，这五个目标很容易通过 4 个挑战来“HIIT”, 它们是:
            </p>
            <ul style="list-style: none;" class="text-start">
              <li class="p-1">1)医疗费用</li>
              <li class="p-1">2)通货膨胀</li>
              <li class="p-1">3)投资</li>
              <li class="p-1">4)税</li>
            </ul>
            <p class="h5 p-2">
              我们将这四个挑战缩写为“HIIT”。如果您的退休生活因四大挑战而成为致命的 HIIT 怎么办？
            </p>
          </div>
        </div>
      </div>

      <div class="text-center container-lg bg-light">
        <div class="row justify-content-center p-3">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold">社会保障问题和对 401(k) 的依赖</h1>
            <p class="h6">
              更令人震惊的是，根据美国财政部发布的年度受托人报告，
              约 6700 万美国人赖以为生的社会保障信托基金预计将在
              2034 年耗尽，比去年预计的时间提前一年。
              公司养老金很少见，我们主要依靠我们的 401(k) 退休。
              然而，我们中的许多人最终可能会坐上市场波动的过山车，
              无法控制我们辛辛苦苦攒下来的钱。
            </p>
          </div>
        </div>
        <div class="row justify-content-center p-3">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold">传统退休计划.</h1>
            <ul style="list-style: none;" class="text-start">
              <li class="p-1">1)最大化 401(k)捐款</li>
              <li class="p-1">2)把钱投入市场以获得良好的回报率。</li>
              <li class="p-1">3)延迟纳税</li>
              <li class="p-1">4)投资目标基金，实现退休计划投资的自动驾驶</li>
              <li class="p-1">5)如果您需要长期护理，请去政府。</li>
            </ul>
            <p class="h-5 p-2">所有这些听起来都不错，
              但是有多少人真的按照这个建议在财务上取得了成功？
              这些建议对普通美国人的效果如何？您可能已经知道答案了。</p>
          </div>
        </div>
        <div class="row justify-content-center p-3">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold">策略</h1>
            <p class="h6">
              真的可以建立一个安全的退休金计划来实现退休的五个目标吗？
              对我来说太晚了吗？
              为了增加我的资产，我是否必须节衣缩食，基本上吃胡萝卜？
              我需要成为金融高手吗？
            </p>
            <a href="https://www.befinancialeducation.com/book-online" class="text-center p-3">安排会议</a>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
