{% extends 'base.html' %}

{% load static %}

{% block key %}"退休计划, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"{% endblock %}

{% block descrp %}"退休计划, 金融教育与服务"{% endblock %}

{% block title %}退休计划{% endblock %}

{% block content %}




<section>
  <div class="container-lg bg-light text-center">
    <div class="row m-5">
      <div class="col-md-6 align-self-center">
        <img
          class="img-fluid"
          src="{% static 'images/retirement.webp' %}"
          alt="college financial aid"
        />
      </div>


      <div class="col-md-6 text-start align-self-center">

        <h1 class=" h2 fw-bold p-2">
          退休规划有以下4+1个目标：
        </h1>
        <img src="{% static "images/4plus1.png" %} " alt="retirement plan" class="img-fluid">
        <p class="h5 p-2">
          然而，这五个目标很容易被 4 个挑战“HIIT”, 它们分别是:
        </p>
        <ul style="list-style-type: square;">
          <li>H (Health care cost)：包括医疗费用和长期护理费用</li>
          <li>I (inflation): 通货膨胀影响我们的购买力</li>
          <li>I (investment): 投资的成败决定退休的质量</li>
          <li>T (tax): 税务可能降低我们的资产使用的效率</li>
        </ul>
        <p class="h5 p-2">
          如果四大挑战成为您退休生活的致命HIIT，您该怎么办？
        </p>
      </div>
    </div>
  </div>

  <div class="text-center container-lg bg-light">
    <div class="row justify-content-center p-3">
      <div class="col-md-6 text-md-start text-sm-center">
        <img src="{% static "images/retirement_plan.png" %} " alt="retirement plan" class="img-fluid">
        <p class="h5 mt-2">
          我如何建立一个安全的退休金计划来实现退休的五个目标吗？
          对我来说太晚了吗？
          为了增加我的资产，我是否必须节衣缩食，吃胡萝卜？
          我需要成为金融高手吗？
        </p>
      </div>
    </div>
    <div class="row justify-content-center p-3">
      <div class="col-md-6 text-md-start text-sm-center">
        <h1 class="my-3 fw-bold">退休规划课程大纲样本</h1>
        <ul style="list-style-type: square;">
          <li class="h5">401(k)真的省税吗？</li>
          <li class="h5">我该存Roth还是Traditional IRA?</li>
          <li class="h5">我的退休账号的投资选择有哪些？</li>
          <li class="h5">我的退休账号的费用有哪些?</li>
          <li class="h5">如何衡量我的退休账号的表现?</li>
          <li class="h5">如何做完备的退休规划</li>
          <li class="h5">我的退休规划会被HIIT吗?</li>
        </ul>
        <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="text-center btn btn-secondary my-4">安排会议</a>
      </div>
    </div>

    
  </div>
</section>

{% endblock %}
