{% extends 'base.html' %}

{% load static %}

{% block key %}"大学助学金申请, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"{% endblock %}

{% block descrp %}"大学助学金申请, 金融教育与服务"{% endblock %}

{% block title %}大学助学金申请{% endblock %}

{% block content %}



<section>
  <div class="container-lg bg-light text-center">
    <div class="row m-5">
      <div class="col-md-5 align-self-center">
        <img
          class="img-fluid"
          src="{% static 'images/financial_aid.webp' %}"
          alt="college financial aid"
        />
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-6 text-start align-self-center">
        <h1 class="my-3 fw-bold">大学助学金申请</h1>
        <p class="h5 p-2" style="text-indent: 40px;">
          中国家庭是最重视教育的群体, 在孩子很小的时候, 
          我们便开始为孩子大学教育基金做准备, 有人买房子, 
          有人存529, 有人投股票基金, 为的是能负担养儿育女中最昂贵的支出—大学学费. 
          殊不知，我们可能画蛇添足,本可以申请得到的大学助学金却因为我们不合理的 
          资产配置而化为乌有。
        </p>
        <p class="h5 p-2" style="text-indent: 40px;">
          孩子太小, 准备大学助学金申请太早吗? 2) 收入太高, 
          肯定拿不到助学金吗? 3) 工资很低, 肯定可以拿到助学金吗? 4) 私立大学肯定比公立大学花费高吗? 
          5) 申请助学金, 会影响大学录取吗? 6) 第一年申请不到, 之后也拿不到吗?
        </p>
      </div>
    </div>
  </div>

  <div class="text-center container-lg bg-light">

    <div class="row justify-content-center p-3">
      <div class="col-md-7 text-md-start text-sm-center">
        <h1 class="my-3 fw-bold ">529 可能会损害您获得助学金的机会</h1>
        <p class="h5" style="text-indent: 40px;">
          您知道吗，529可能不适合您的家庭情况！ 为什么? 529 损害了您获得基于需求的助学金的机会！
          很简单的逻辑是这样的:
          比如说，整体学费加上各类学杂费成本是100,000,您如果可以提供100,000(这叫expected family contribution),
          那么您就不会得到任何need-based financial aid。如果您的家庭只能提供 20,000,
          那么您的孩子将获得 80,000 need/based financial aid 529 的问题在于它增加了预期的家庭贡献额。
        </p>
      </div>
    </div>


    <div class="row justify-content-center p-3">
      <div class="col-md-7 text-md-start text-sm-center">
        <h1 class="my-3 fw-bold">如何筹划孩子的大学学费?</h1>
        <p class="h5" style="text-indent: 40px;">
          那么，您如何准备孩子的大学学费呢？准备学费的常用工具有哪些？
          如果您的家庭收入和资产太高而没有资格获得助学金，
          您如何申请基于绩效的奖学金呢？ FAFSA 和 CSS 中常被忽视的问题是什么？
        </p>
      </div>
    </div>

    <div class="row justify-content-center p-3">
      <div class="col-md-7 text-md-start text-sm-center">
        <h1 class="my-3 fw-bold">大学助学金申请的课程大纲：</h1>
        <ul style="list-style-type: square;">
          <li class="h5">如何规划大学助学金申请？</li>
          <li class="h5">FAFSA表与CSS表的填写</li>
          <li class="h5">筹备大学学费的方式有哪些？</li>
          <li class="h5">大学助学金申请公式</li>
          <li class="h5">出租房的考量：地产该放公司名下还是个人名下? </li>
          <li class="h5">公司报亏损有助于助学金申请吗？</li>
          <li class="h5">多拿mortgage可以助力助学金吗? </li>
          <li class="h5">第11年级有什么注意事项? </li>
          <li class="h5">CSS学校与FAFSA学校都是如何估算家庭自付额? </li>
          <li class="h5">如何根据自家的情况查询每个学校的家庭自付额？</li>
          <li class="h5">学校与学校之间有什么不同？ </li>
          <li class="h5">如何降低基准年的收入？</li>
          <li class="h5">填写FAFSA表和CSS表的注意事项</li>
        </ul>
        <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="text-center btn btn-secondary my-4">安排会议</a>
      </div>
    </div>
    
  </div>
</section>
{% endblock %}
