<!DOCTYPE html>
<html lang="zh-CN">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Savings</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-xxl">
        <a href="{% url 'index' %}" class="navbar-brand">
          <img
            class="img-fluid"
            src="{% static 'images/logo.webp' %}"
            alt="beyond Expoenential Financial Logo"
          />
        </a>
        <!-- toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div
          class="collapse navbar-collapse justify-content-end align-center"
          id="main-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a href="{% url 'index' %}" class="nav-link h5"> 关于我们 </a>
            </li>
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                金融教育与服务
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'overview' %}">概貌</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'tax' %}">税</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'savings' %}"
                    >学院/大学储蓄计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'retirement' %}"
                    >退休计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'life_insurance' %}"
                    >人寿保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'investment' %}"
                    >投资</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'estate_planning' %}"
                    >遗产规划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'long_term_care' %}"
                    >长期护理</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'medicare' %}"
                    >医疗保险</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://www.befinancialeducation.com/book-online"
                    >安排会议</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'join_us' %}" class="nav-link h5"> 加入我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'blogs' %}" class="nav-link h5"> 博客 </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-3">
              <a href="{% url 'video' %}" class="nav-link h5"> 视频 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="mailto: befinancialed@gmail.com" class="nav-link h5">
                联系
              </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signout' %}" class="nav-link h5"> 登出 </a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a href="{% url 'signup' %}" class="nav-link h5"> 报名 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signin' %}" class="nav-link h5"> 登录 </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container-lg bg-light text-center">
        <div class="row m-5">
          <div class="col-md-5 align-self-center">
            <img
              class="img-fluid"
              src="{% static 'images/financial_aid.webp' %}"
              alt="college financial aid"
            />
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-6 text-start align-self-center">
            <h1 class="my-3 fw-bold">大学财政援助</h1>
            <p class="h5 p-2">
              中国家庭是最重视教育的群体, 在孩子很小的时候, 
              我们便开始为孩子大学教育基金做准备, 有人买房子, 
              有人存529, 有人投股票基金, 为的是能负担养儿育女中最昂贵的支出—大学学费. 
              殊不知，我们可能画蛇添足,本可以申请得到的大学助学金却因为我们不合理的 
              资产配置而化为乌有, 孩子太小, 准备大学助学金申请太早吗? 2) 收入太高, 
              肯定拿不到助学金吗? 3) 工资很低, 肯定可以拿到助学金吗? 4) 私立大学肯定比公立大学花费高吗? 
              5) 申请助学金, 会影响大学录取吗? 6) 第一年申请不到, 之后也拿不到吗?
            </p>
          </div>
        </div>
      </div>

      <div class="text-center container-lg bg-light">

        <div class="row justify-content-center p-3">
          <div class="col-md-7 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold">大学学费规划课程大纲：</h1>
            <ul style="list-style-type: square;">
              <li>如何规划大学助学金申请？</li>
              <li>FAFSA表与CSS表的填写</li>
              <li>筹备大学学费的方式有哪些？</li>
              <li>大学助学金申请公式</li>
              <li>出租房的考量：地产该放公司名下还是个人名下? </li>
              <li>公司报亏损有助于助学金申请吗？</li>
              <li>多拿mortgage可以助力助学金吗? </li>
              <li>第11年级有什么注意事项? </li>
              <li>CSS学校与FAFSA学校都是如何估算家庭自付额? </li>
              <li>如何根据自家的情况查询每个学校的家庭自付额？</li>
              <li>学校与学校之间有什么不同？ </li>
              <li>如何降低基准年的收入？</li>
              <li>填写FAFSA表和CSS表的注意事项</li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-center p-3">
          <div class="col-md-7 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold ">529 可能会损害您获得经济援助的机会.</h1>
            <p class="h6">
              但是你知道529可能不适合你的家庭情况吗? 为什么? 529 损害了您获得基于需求的经济援助的机会！
              很简单的逻辑是这样的:
              如果出勤成本是100,000,你可以提供100,000(这叫expected family contribution),
              那么你就不会得到任何need-based financial aid。如果您的家庭只能提供 20,000,
              那么您的孩子将获得 80,000 的基于需求的经济援助。 529 的问题在于它增加了预期的家庭贡献。
            </p>
          </div>
        </div>
        <div class="row justify-content-center p-3">
          <div class="col-md-7 text-md-start text-sm-center">
            <h1 class="my-3 fw-bold">如何实际计划孩子的大学学费.</h1>
            <p class="h6">
              那么，您如何计划孩子的大学学费呢？计划学费的常用工具有哪些？
              如果您的家庭收入和资产太高而没有资格获得财政援助，
              您如何申请基于绩效的财政援助？ FAFSA 和 CSS 中常见的陷阱是什么？
            </p>
            <a href="https://www.befinancialeducation.com/book-online" class="text-center btn btn-secondary my-4">安排会议</a>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
