<!DOCTYPE html>
<html lang="zh-CN">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
    name="keywords"
    content="税务规划, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"
    />
    <meta
      name="description"
      content="税务规划 金融教育与服务"
    />
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/logo.webp' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>税务规划</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-xxl">
        <a href="{% url 'index' %}" class="navbar-brand">
          <img
            class="img-fluid"
            src="{% static 'images/logo.webp' %}"
            alt="beyond Expoenential Financial Logo"
          />
        </a>
        <!-- toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div
          class="collapse navbar-collapse justify-content-end align-center"
          id="main-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a href="{% url 'index' %}" class="nav-link h5"> 关于我们 </a>
            </li>
            
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                金融教育与服务
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'overview' %}">概貌</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'tax' %}">
                    税务规划</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'retirement' %}"
                    >退休计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'asset_protection' %}"
                    >资产保护</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'company_structure' %}"
                    >公司架构</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'estate_planning' %}"
                    >遗产规划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'life_insurance' %}"
                    >人寿保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'long_term_care' %}"
                    >长期护理</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'medicare' %}"
                    >医疗保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'investment' %}"
                    >投资风险控制</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'savings' %}"
                    >大学助学金申请</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://go.oncehub.com/Beyond-Exponential-Education"
                    >安排会议</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'join_us' %}" class="nav-link h5"> 加入我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'meetings' %}" class="nav-link h5"> 公开讲座 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'blogs' %}" class="nav-link h5"> 博客 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'contacts' %}" class="nav-link h5"> 联系 </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-3">
              <a href="{% url 'video' %}" class="nav-link h5"> 视频 </a>
            </li>
            
            <li class="nav-item mx-3">
              <a href="{% url 'signout' %}" class="nav-link h5"> 登出 </a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a href="{% url 'signin' %}" class="nav-link h5"> 登录 </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container-lg bg-light text-center">
        <div class="row m-5">
          <div class="col-md-6 align-self-center">
            <img
              class="img-fluid"
              src="{% static 'images/tax_quote.webp' %}"
              alt="person doing taxes"
            />
          </div>


          <div class="col-md-6 text-start align-self-center">
            <h2 class="my-3 fw-bold">我有会计师，还需要了解税务知识吗？</h2>
            <p class="h6">
              拥有会计师并不意味着拥有有效的税务规划.
              为什么？您的会计师不负责您的税务规划. 
              让我们明确三个重要事实:
            </p>
            <ul class="text-start" style="list-style: none;">
              <li class="p-3">事实 1: 您的会计师只负责在税表上填写正确的数字。你付钱给她/他是为了提交申请，而不是为了计划。
                税务只是您会计师工作量的一小部分，
                他们需要花费大量时间在簿记、归档、审计等方面。</li>

              <li class="p-3"> 事实 2:您的会计师在这一年中很少与您联系。她不太可能知道您的日常业务运作。
                在报税时间,会计师会询问您的号码,将其输入他们的计算机,然后按“Enter”。
                结果可能遗漏了您有权享受的大笔税收减免!</li>

              <li class="p-3">事实 3: 您保留税务记录。你花钱。您决定将哪些记录提交给您的会计师。
                事实上,如果您不了解税务,
                您很可能不会将关键信息提交给您的会计师。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="text-center container-lg bg-light">
        <div class="row justify-content-center">
          <div class="col-md-6 text-md-start text-sm-center">
            <h2 class="my-3 fw-bold">税务规划课程大纲样本</h1>

            <ul style="list-style-type: square;">
              <li>如何读懂1040, 1120, 1120s, 1065?</li>
              <li>Schedule E表的填写</li>
              <li>schedule C 表的填写</li>
              <li>常见的10大税务陷井</li>
              <li>房地产的exit strategy: 赠与子孙还是传承子孙? </li>
              <li>Depreciation 这淌水: bonus depreciation, 179 expense, MARCS depreciation 的比较</li>
              <li>自住房，投资房，出租房，度假房的税务处理</li>
              <li>Stock compensation 的税务处理</li>
              <li>如何利用公司架构做省税计划</li>
              <li>报税季节如何检查税表的纰漏</li>
              <li>如何track公司的basis?</li>
              <li>海外投资的税务问题</li>
            </ul>

            <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="text-center btn btn-secondary my-4">安排会议</a>
          </div>
        </div> 
        <div class="text-center disclaimer bg-light p-2">
          <small>
            This portion of the site is for informational purposes only. 
            The content is not legal advice. The statements and opinions have not been evaluated for accuracy, 
            completeness, or changes in the law.
            <br>
            Beyond Expoenential Education &copy; 2022-2023
          </small>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
