<!DOCTYPE html>
<html lang="zh-CN">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Tax</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light ">
      <div class="container-xxl">
        <a href="{% url 'index' %}" class="navbar-brand">
          <img
            class="img-fluid"
            src="{% static 'images/logo.webp' %}"
            alt="beyond Expoenential Financial Logo"
          />
        </a>
        <!-- toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div
          class="collapse navbar-collapse justify-content-end align-center"
          id="main-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a href="{% url 'index' %}" class="nav-link h5"> 关于我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="mailto: befinancialed@gmail.com" class="nav-link h5">
                联系
              </a>
            </li>
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                金融教育
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'overview' %}">概貌</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'tax' %}">税</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'savings' %}"
                    >学院/大学储蓄计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'retirement' %}"
                    >退休计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'life_insurance' %}"
                    >人寿保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'investment' %}"
                    >投资</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'estate_planning' %}"
                    >遗产规划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'long_term_care' %}"
                    >长期护理</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'medicare' %}"
                    >医疗保险</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://www.befinancialeducation.com/book-online"
                    >安排会议</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'join_us' %}" class="nav-link h5"> 加入我们 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'blogs' %}" class="nav-link h5"> 博客 </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-3">
              <a href="{% url 'video' %}" class="nav-link h5"> 视频 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signout' %}" class="nav-link h5"> 登出 </a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a href="{% url 'signup' %}" class="nav-link h5"> 报名 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'signin' %}" class="nav-link h5"> 登录 </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container-lg bg-light text-center">
        <div class="row m-5">
          <div class="col-md-4 align-self-center">
            <img
              class="img-fluid"
              src="{% static 'images/working.webp' %}"
              alt="person doing taxes"
            />
          </div>

          <div class="col-md-2"></div>

          <div class="col-md-6 text-start align-self-center">
            <h1 class="my-3">会计</h1>
            <p class="h6">
              拥有会计师并不意味着拥有有效的税务规划.
              为什么？您的会计师不负责您的税务规划. 
              让我们明确三个重要事实:
            </p>
            <ul class="text-start" style="list-style: none;">
              <li class="p-3">事实 1: 您的会计师只负责在税表上填写正确的数字。你付钱给她/他是为了提交申请，而不是为了计划。
                税务只是您会计师工作量的一小部分，
                他们需要花费大量时间在簿记、归档、审计等方面。</li>

              <li class="p-3"> 事实 2:您的会计师在这一年中很少与您联系。她不太可能知道您的日常业务运作。
                在报税时间,会计师会询问您的号码,将其输入他们的计算机,然后按“Enter”。
                结果可能遗漏了您有权享受的大笔税收减免!</li>

              <li class="p-3">事实 3: 您保留税务记录。你花钱。您决定将哪些记录提交给您的会计师。
                事实上,如果您不了解税务,
                您很可能不会将关键信息提交给您的会计师。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="text-center container-lg bg-light">
        <div class="row justify-content-center">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3">现在征税</h1>
            <p class="h6">
              现在征税意味着这些账户的任何收入都必须在当年纳税。例如，您必须就储蓄账户
              、存款证 (CD)、股票、互惠基金和货币市场基金的股息收入进行申报和纳税。
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3">稍后纳税</h1>
            <p class="h6">
              稍后纳税这意味着你投入的钱是税前的。存入账户的税前资金是您尚未缴纳所得税的资金
              ，但您稍后提取时将缴纳税款。这些账户也称为延税账户。在美国，延税账户通常采用 IRA
              、401ks 和 403(b)s 的形式。在美国,59.5岁以后开始取钱,按普通所得税税率征税,59.5岁之前取钱,
              除了10%的罚款税收。另外，你不能永远把钱放在那里。您必须在您达到
               73 至 75 岁时开始提取或支付 50% 的罚款。但是，一些税后账户可以延税但不能免税。
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 text-md-start text-sm-center">
            <h1 class="my-3">税收优惠准入</h1>
            <p class="h6">
              税收优惠访问意味着当您从您的帐户中取款时，您无需缴税。
              一些罗斯 IRA、529 大学储蓄计划和人寿保险是获得免税分配的流行投资工具。
            </p>
          </div>
        </div>
        <div class="row justify-content-center mb-4">
          <div class="col-md-6 text-md-start text-sm-center mb-3">
            <h1 class="my-3">之前还是之后?</h1>
            <p class="h6">
              你愿意现在缴税然后推迟到以后缴税吗
              你变老了吗？或者您应该现在付款并担心美国的税收
              未来？换句话说，你愿意为种子纳税吗？
              还是收获？联系我们，了解更多 .
            </p>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
