<!DOCTYPE html>
<html lang="zh-CN">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="金融教育与视频, money management , Beyond Exponential Financial, BeyondFiancialEd"
    />
    <meta
      name="description"
      content="金融教育视频"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>视频</title>
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/logo.webp' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'vid.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-xxl">
        <a href="{% url 'index' %}" class="navbar-brand">
          <img
            class="img-fluid"
            src="{% static 'images/logo.webp' %}"
            alt="beyond Expoenential Financial Logo"
          />
        </a>
        <!-- toggle button for mobile nav-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div
          class="collapse navbar-collapse"
          id="main-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a href="{% url 'index' %}" class="nav-link h5"> 关于我们 </a>
            </li>
            
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                金融教育与服务
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'overview' %}">概貌</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'tax' %}">
                    税务规划</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'retirement' %}"
                    >退休计划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'asset_protection' %}"
                    >资产保护</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'company_structure' %}"
                    >公司架构</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'estate_planning' %}"
                    >遗产规划</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'life_insurance' %}"
                    >人寿保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'long_term_care' %}"
                    >长期护理</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'medicare' %}"
                    >医疗保险</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'investment' %}"
                    >投资风险控制</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'savings' %}"
                    >大学助学金申请</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://go.oncehub.com/Beyond-Exponential-Education"
                    >安排会议</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'join_us' %}" class="nav-link h5"> 加入我们 </a>
            </li>
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                  讲座
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                      <a class="dropdown-item" href="{% url 'ch-meetings' %}">中文公开讲座</a>
                  </li>
                  <li>
                  <a class="dropdown-item" href="{% url 'eng-meetings' %}">英文公开讲座</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'inner-meetings' %}">内部会员讲座</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'blogs' %}" class="nav-link h5"> 博客 </a>
            </li>
            <li class="nav-item mx-3">
              <a href="{% url 'contacts' %}" class="nav-link h5"> 联系 </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown mx-3">
              <a
                class="nav-link dropdown-toggle h5"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                  视频/Videos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                      <a class="dropdown-item" href="{% url 'video' %}">中文视频</a>
                  </li>
                  <li>
                  <a class="dropdown-item" href="{% url 'english_video' %}">English Videos</a>
                  </li>
              </ul>
            </li>
            
            <li class="nav-item mx-3">
              <a href="{% url 'signout' %}" class="nav-link h5"> 登出 </a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a href="{% url 'signin' %}" class="nav-link h5"> 内部会员登录 </a>
            </li>
            {% endif %}
          </ul>

          <div class="my-2 my-lg-0 ms-auto">
            <a href="https://go.oncehub.com/Beyond-Exponential-Education" class="btn btn-outline-dark my-2 my-sm-0 form-inline">预约咨询</a>
          </div>
          


        </div>
      </div>
    </nav>

    <section>
      <div class="container-lg bg-light">
        <div class="row justify-content-center">
          <div class="m-3">
            <p class="h1 text-center fw-bold">
              学员专区
            </p>
          </div>
          <hr>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">理财规划通论</h4>
            <div class="accordion" id="lifevideo">
              {% for vid in General %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#lifevideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">长期护理</h4>
            <div class="accordion" id="long_term_care_video">
              {% for vid in long_term_care %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#long_term_care_video">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">遗产规划</h4>
            <div class="accordion" id="estatevideo">
                {% for vid in estate_planning %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                      {{vid.title}}
                    </button>
                  </h2>
                  <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#estatevideo">
                    <div class="accordion-body">
                      <p> 演讲者: {{vid.author}} </p>
                      <p> 密码: {{vid.password}} </p>
                      <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>

        </div>
        <div class="row justify-content-center">

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">税务规划</h4>
            <div class="accordion" id="taxvideo">
              {% for vid in tax %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#taxvideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">退休规划</h4>
            <div class="accordion" id="retirementvideo">
              {% for vid in retirement %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#retirementvideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">人寿保险</h4>
            <div class="accordion" id="lifevideo">
              {% for vid in life_insurance %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#lifevideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>



          
          
          
        
        <div class="row justify-content-center">

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">大学助学金申请</h4>
            <div class="accordion" id="savingsvideo">
              {% for vid in savings %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#savingsvideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">医疗保险</h4>
            <div class="accordion" id="medicarevideo">
              {% for vid in medicare %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#medicarevideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">资产保护</h4>
            <div class="accordion" id="investmentvideo">
              {% for vid in asset_protection %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#investmentvideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>

        <div class="row justify-content-center">

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">房地产投资</h4>
            <div class="accordion" id="savingsvideo">
              {% for vid in real_estate %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#savingsvideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">公司结构</h4>
            <div class="accordion" id="investmentvideo">
              {% for vid in company_structure %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#investmentvideo">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          
          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">其他</h4>
            <div class="accordion" id="othervideos">
              {% for vid in other %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#othervideos">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>


        </div>

          
        <div class="row justify-content-center">
          <div class="m-3">
            <p class="h1 text-center fw-bold">
              执照人员专区
            </p>
          </div>

          <hr>

          <div class="col-md-3 col-12 text-center m-5">
            <h4 class="border-2 border-bottom">执照考试</h4>
            <div class="accordion" id="othervideos">
              {% for vid in exam %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="Arr{{vid.link}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{vid.id}}" aria-expanded="false" aria-controls="Arr{{vid.id}}">
                    {{vid.title}}
                  </button>
                </h2>
                <div id="Arr{{vid.id}}" class="accordion-collapse collapse" aria-labelledby="Arr{{vid.link}}" data-bs-parent="#othervideos">
                  <div class="accordion-body">
                    <p> 演讲者: {{vid.author}} </p>
                    <p> 密码: {{vid.password}} </p>
                    <a href="{{vid.link}}" class="btn btn-primary"> 看一看 </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>

        <div class="text-center disclaimer bg-light">
          <small>
            This portion of the site is for informational purposes only. 
            The content is not legal advice. The statements and opinions have not been evaluated for accuracy, 
            completeness, or changes in the law.
            <br>
            Beyond Expoenential Education &copy; 2022-2023
          </small>
        </div>

      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
