{% extends 'base.html' %}

{% load static %}

{% block key %}"加入我们, money management , Beyond Exponential Financial, BeyondFiancialEd, 金融教育与服务"{% endblock %}

{% block descrp %}"中文公开讲座, 金融教育与服务"{% endblock %}

{% block title %}中文公开讲座{% endblock %}

{% block content %}


<div class="container-lg bg-light">
  <h1 class="p-3 text-center">中文公开讲座</h1>

  <ul>
    {% for meet in meets %}

    <div class="row my-3">
      <div class="col-md-8">
        <li style="list-style: none;" class="h3 fw-bold p-1">
          {{meet.title}}
        </li>
        <li style="list-style: none;" class="h4 fw-bold">
          时间：{{meet.date}}, {{meet.hour}}
        </li>
        
        <li style="list-style: none;" class="h5">
          {{ meet.description|safe }}
        </li>
        <a href="{{meet.link}}" target="_blank" class="btn btn-secondary m-2">注册</a> 
      </div>
    </div>
    <hr>

    

    {% endfor %}
  </ul>
</div>
{% endblock %}
