
{% extends 'base.html' %}

{% load static %}

{% block key %}"金融教育与联系, money management , Beyond Exponential Financial, BeyondFiancialEd"{% endblock %}

{% block descrp %}"金融教育联系"{% endblock %}

{% block title %}联系{% endblock %}

{% block content %}


<div class="container-lg bg-light">
  <h1 class="p-3 text-center">联系卡</h1>

  <hr> 

  <ul>

    {% for contact in contact_info %}
    <div class="row my-3">
      <div class="col-md-4"></div>
      <div class="col-md-2 text-center ">
        <img
          class="img-fluid rounded"
          src={{contact.wechat_qrcode.url}}
          alt="image of {{contact.name}} wechat qrcode"
        />
      </div>
      <div class="col-md-6">
        <p class="h3 fw-bold my-3">
          {{contact.name}}
        </p>
        <p class="h5">
            电话号码: {{contact.phone_number}}
            <br>
            邮件: {{contact.email}}
        </p>
      </div>
    </div>
    <hr>

    {% endfor %}

    

  </ul>

  
</div>
{% endblock %}
