
{% extends 'base.html' %}

{% load static %}

{% block key %}"加入我们, money management , Beyond Exponential Financial, BeyondFiancialEd"{% endblock %}

{% block descrp %}"加入我们"{% endblock %}

{% block title %}加入我们{% endblock %}

{% block content %}



<section>
  <div class="container-lg bg-light text-center">
    <div>
      <img
        class="img-fluid my-5"
        src="{% static 'images/discussion.webp' %}"
        alt="discussion"
      />
    </div>
    <div class="row justify-content-center">

      <div class="col-md-6 text-start align-self-center text-center">
        <h1>加入我们的平台</h1>
        <!-- <a
          href="https://registration.wfglaunch.com/"
          target="_blank"
          class="my-3 btn btn-secondary"
          >加入</a
        > -->
      </div>
    </div>
    <hr>
    <div class="text-start ">
      <h1 class="fw-bold p-2">关于会员的常见问题：</h1>

      <hr>

      <p class="h5 p-2">1.你们的会员福利有哪些？</p>
      <p class="h5 p-2 text-muted">回答: 我们内部会员的福利是: </p>
      <ul style="list-style: none;">
        <li class="h5 text-muted">
          1) 每年三次一对一的私课, 一次涉及税务规划, 
          一次涉及退休规划，还有一次由会员指定题目，为会员量身定制学习计划；
        </li>
        <li class="h5 text-muted">2) 每年税季提供免费税表review; </li>
        <li class="h5 text-muted">3) 享受会员免费咨询;</li>
        <li class="h5 text-muted">4)参加本团队的内部培训。</li>
      </ul>

      <br>
      <br>
      <br>

      <p class="h5 p-2">2.作为会员，我有什么义务？需要购买产品吗？</p>
      <p class="h5 p-2 text-muted">
        回答：您没有任何会员义务。您不需要购买任何产品。 
      </p>
      
      <br>
      <br>
      <br>

      <p class="h5 p-2">3.你们的会员福利物超所值，你们的盈利模式是什么？</p>
      <p class="h5 p-2 text-muted">回答：我们的业务有两大盈利模式：</p>
      <ul style="list-style: none;">
        <li class="h5 text-muted">
          1) 对高难度的咨询收取咨询费用;
        </li>
        <li class="h5 text-muted">2) 我们代理200+家公司, 代理450+种不同种类的金融产品。会员若需要借助金融工具达成一定的财务目标, 
          我们可以代理。</li>
      </ul>

      <br>
      <br>
      <br>

      <p class="h5 p-2">4.我没有时间上内部课程，怎么办？</p>
      <p class="h5 p-2 text-muted">回答：若您的时间和内部课程时间相冲突，可以登录该网站，观看内部视频。</p>

      <br>
      <br>
      <br>

      <p class="h5 p-2">5.我若对会员福利不满意，可以退款吗？</p>
      <p class="h5 p-2 text-muted">回答：若对会员福利不满意，我们全额退款。</p>

    </div>
    
    
  </div>
</section>

{% endblock %}